@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #2196f3;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #2196f3,
    0 0 5px #2196f3;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
